<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do-List</title>
    <link rel="stylesheet" href="css\styles.css">
</head>

<body>
    <div class="box" id="heading">
        <h1>It's a <%= dayk %>
        </h1>
    </div>
    <h1>To-do-list</h1>
    <div class="box">

        <% for(var i=0; i<newlist.length; i++){ %>
        <div class="item">
                <input type="checkbox">
                <p class="item">
                    <%= newlist[i].item %>
                </p>
                <br>
                <form action="/delete" method="post">
                    <input type="hidden" name="itemId" value="<%= newlist[i]._id %>">
                    <button type="submit" name="button">Delete</button>
                </form>
                <form action="/update" method="post">
                    <!-- <input type="hidden" name="itemToUpdate" value="<%= newlist[i] %>"> -->
                    <input type="hidden" name="itemIds" value="<%= newlist[i]._id %>">
                    <input type="text" name="updatedItem" placeholder="New value" required>
                    <button type="submit" name="button">Update</button>
                </form>
        </div>
        <% } %>
        <form action="/" method="post">

            <input type="text" name="newItems" id="" placeholder="Enter the new Task" autocomplete="off">
            <button type="submit" name="button">Add</button>

        </form>

    </div>

</body>

</html>

